/*.carousel-item::before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;

}
.carousel-caption{
    bottom: 140px;
}
@media only screen and (min-width: 915px){
  .carousel-caption{
    bottom: 250px;
}  
}
@media (max-width: 576px) {
    .carousel-caption{
        bottom: 10px;
    } 
}*/